body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #ff6b35;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    text-align: center;
}

.food-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.food {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px #ccc;
}

.food button,
button {
    background-color: #ff6b35;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.food button:hover,
button:hover {
    background-color: #e85a2a;
}
.food img {
    width: 100%;
    height: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
